.goodsArr {
  width: 100%;
  /*background-color: red;*/
  min-height: 600px;
}
.goodsBox {
  width: 100%;
  position: relative;
  /*border-right: 1px solid #e9e9e9;*/
  /*border-bottom: 1px solid #e9e9e9;*/
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.stubElem,
.goodsElem {
  background-color: white;

  min-width: 180px;
  max-width: 95%;
  height: 400px;
  margin: 2vh 0.2vw;

  /*width: 300px;*/
  width: 16%;
}
.goodsElem > *:hover {
  z-index: 3;
}
/*MEDIA AREA IS THIS!!!!!!!!*/
@media (max-width: 1700px) {
  .goodsArr {
    /*width: 78vw;*/
  }
  .goodsBox > * {
    width: 19%;
  }
}

@media (max-width: 1400px) {
  .goodsBox > * {
    width: 23%;
  }
}

@media (max-width: 1050px) {
  .goodsArr {
    /*width: 70vw;*/
  }
  .goodsBox > * {
    width: 31%;
  }
}

@media (max-width: 1025px) {
  .goodsArr {
    /*width: 100vw;*/
  }
  .goodsBox > * {
    margin: 2vh 0.2vw;
    width: 24%;
  }
}

@media (max-width: 740px) {
  .goodsBox > * {
    /*margin: 2vh 0.1vw;*/
    width: 32%;
  }
}
@media (max-width: 544px) {
  .goodsBox > * {
    /*margin: 2vh 0.1vw;*/
    width: 47%;
  }
}

@media (max-width: 370px) {
  .goodsBox > * {
    /*margin: 2vh 0.1vw;*/
    width: 65%;
  }
}
