.goodsBox {
  width: 100%;
  /*position: relative;*/
  /*width: 106vw;*/
  /*min-height: 600px;*/
}
.goodsInfo {
  /*background-color: white;*/
  margin: 0 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.descCharComBox {
  display: flex;
  flex-direction: row;
  width: 100%;
  border-top: 2px solid #e8e8e8;
}
