.modal_catalog {
  position: fixed;
  top: 18%;
  left: 24%;
  width: auto;
  height: auto;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 20px 5px rgba(68, 68, 68, 0.7);
  /*background: linear-gradient(0deg, rgba(245, 0, 226, 0.11), rgba(0, 138, 255, 0.1));*/
  border-radius: 8px;
  z-index: 11;
  transition: all 1s;
  color: black;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
}
.modal_catalog * {
  color: black;
}
.modal_catalog_box {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(68, 68, 68, 0.31);
  z-index: 10;
}

.modal_catalog > * {
  margin: 0 20px;
  /*display: flex;*/
  /*flex-direction: row;*/
  /*align-items: center;*/
  /*justify-content: center;*/
  /*font-style: italic;*/
}
.modal_catalog span {
  padding: 5px;
  font-size: 20px;
  margin: 0 0 15px 0;
  background: linear-gradient(0deg, #560e0e, #4b0a49);
  color: white;
  font-weight: lighter;
  font-style: italic;
}
.modal_catalog ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5px;
  /*font-weight: bold;*/
}
.modal_catalog ul li {
  width: 100%;
  margin: 3px;
  font-size: 18px;
  /*background-color: black;*/
  /*color: white;*/
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: 1px solid #d7d7d7;
  border-radius: 3px;
  background-color: rgb(255, 255, 255);
  /*font-weight: bold;*/
}
.modal_catalog ul li:hover a {
  color: white;
}
.modal_catalog ul li a {
  color: black;
  width: 100%;
  height: 100%;
}
.modal_catalog ul li:hover {
  background-color: black;
}
.forSmart {
}
.forSmart > ul {
}
.another {
}
