.wrapperContent {
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.content {
    width: 100%;
}

.grid-container {
    /*min-height: 500px;*/
    display: grid;
    /*display: flex;*/
    /*grid-template-columns: 350px 350px 350px;*/
    grid-gap: 40px;
    /*background-color: #fff;*/
    color: #444;
    margin: 20px 0;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr)); /* see notes below */
}

.grid-container > * {
    margin: 0 auto;
    /*background-color: #444;*/
    color: #fff;
    border-radius: 5px;
    /*padding: 20px;*/
    font-size: 120%;
}

.mainImg{
    height: auto;
    width: 100%;
}

/*.grid-container {*/
    /*display: flex;*/
    /*flex-direction: row;*/
    /*align-items: center;*/
    /*justify-content: space-between;*/
    /*flex-wrap: wrap;*/
    /*margin: 0 0 15px 0;*/

/*}*/
/*.grid-container > * {*/
    /*margin: 50px 0 0 0;*/
/*}*/

.pagination{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /*margin: 10px 0 20px 0;*/

}

.pagination > *{
    border-radius: 4px;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 5px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: white;
    color: black;
    border: .5px solid #22222263;
}

.pagination > .previous:hover {
    background-color: #222;
}
.pagination > .previous:hover a {
    color: white;
}
.pagination > .next:hover {
    background-color: #222;
}
.pagination > .next:hover a {
    color: white;
}



.pagination > .active:hover {
    background-color: #222;
}
.pagination > .active:hover a {
    color: white;
}

.activate{
    background-color: #222;
    color: white;
}

/*@media screen and (max-width: 1052px) {*/
    /*.grid-container {*/
        /*flex-direction: column;*/
    /*}*/
    /*.grid-container * {*/

        /*!*margin: 10px 0;*!*/
    /*}*/
/*}*/
/*@media screen and (max-width: 808px) {*/
    /*.grid-container > * {*/
        /*margin: 0 auto;*/
    /*}*/
/*}*/