.imgBox{
    max-width: 100%;
    /*height: auto;*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /*height: 0;*/
    /*padding-top: 100%;*/
    /*position: relative;*/
    /*display: block;*/
    height: 243px;
}

.imgBox:hover .imgOne{
    display: none;
}
.imgBox:hover .imgTwo{
    display: block;
}

.imgBox > img{
    /*position: absolute;*/
    /*top: 50%;*/
    /*left: 50%;*/
    /*transform: translate(-50%, -50%);*/
    max-height: 100%;
    max-width: 100%;
    cursor: pointer;
}
.imgOne{
    display: block;
}
.imgTwo{
    display: none;
}
