
.navPc {
    /*font-family: 'Roboto', Helvetica, Arial, sans-serif;*/
    text-align: center;
    /*padding: 40px 0 0;*/
    font-size: 16px;
    line-height: 14px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.navPc ul {
    list-style: none;
    /*margin: 0;*/
    /*padding: 0;*/
}
.navPc a {
    text-decoration: none;
    display: block;
    color: #222;
}
.topmenu > li {
    display: inline-block;
    position: relative;
}
.topmenu > li > a {
    position: relative;
    padding: 10px 15px;
    /*font-family: 'Kaushan Script', cursive;*/
    font-size: 1.2em;
    line-height: 1;
    /*letter-spacing: 3px;*/
}
.topmenu > li > a:before {
    content: "";
    position: absolute;
    z-index: 5;
    left: 50%;
    top: 100%;
    width: 10px;
    height: 10px;
    background: #86b827;
    border-radius: 50%;
    transform: translate(-50%, 20px);
    opacity: 0;
    transition: .3s;
}
.topmenu li:hover a:before {
    transform: translate(-50%, 0);
    opacity: 1;
}
.submenu {
    position: absolute;
    z-index: 4;
    left: 50%;
    top: 100%;
    width: 150px;
    padding: 15px 0 15px;
    margin-top: 20px;
    background: white;
    border-radius: 5px;
    box-shadow: 0 0 30px rgba(0,0,0,.2);
    box-sizing: border-box;
    visibility: hidden;
    opacity: 0;
    transform: translate(-50%, 20px);
    transition: .3s;
}
.topmenu > li:hover .submenu {
    visibility: visible;
    opacity: 1;
    transform: translate(-50%, 0);
}
.submenu a {
    /*font-family: 'Libre Baskerville', serif;*/
    font-size: 18px;
    /*letter-spacing: 1px;*/
    padding: 10px 10px;
    transition: .3s linear;
    height: 100%;
    /*border-bottom: 1px solid #e7e7e7;*/

}
.submenu li:not(:last-child){
    border-bottom: 1px solid #e7e7e7;
}
.submenu a:not(:last-child) {
    border-bottom: 1px solid #e7e7e7;
}

.submenu a:hover {
    /*background: #e8e8e8;*/
    color: #86b827;
}

.mobileHover{
    display: none;
}

/*@media screen and (max-width: 900px) {*/
/*article {*/
/*padding: 1rem 3rem;*/
/*}*/
/*}*/



.header-title{
    width: 100%;
    text-align: left;
}

.dense{
    display: flex;
    flex-direction: row;
}

/*@media screen and (max-width: 580px) {*/
    /*.mobileHover{*/
        /*display: block;*/
    /*}*/
    /*nav ul{*/
        /*display: flex;*/
        /*flex-direction: column;*/
        /*font-size: 13px;*/
    /*}*/
/*}*/