.menu{
    position: relative;
    height: 40px;
    /*padding-right: 10px;*/
    /*padding-left: 10px;*/
    border-radius: 3px;
    border: 1px solid rgba(255,255,255,.5);
    background-color: rgba(255,255,255,0);
    white-space: nowrap;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    cursor: pointer;
    /*-webkit-transition: .2s ease-in-out;*/
    /*-o-transition: .2s ease-in-out;*/
    /*transition: all .2s ease-in-out;*/
    margin-right: 2vw;
    display: none;

}

.menu>*{
    display: flex;
    flex-direction: column;
}

.menu > button{

    position: relative;
    height: 40px;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 3px;
    border: 1px solid rgba(255,255,255,.5);
    background-color: rgba(255,255,255,0);
    white-space: nowrap;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    cursor: pointer;
    /*-webkit-transition: .2s ease-in-out;*/
    /*-o-transition: .2s ease-in-out;*/
    /*transition: all .2s ease-in-out;*/
    outline: none;
}

.menu > button:focus{
    outline: none;
}
.menu > button:hover{
    background-color: rgba(255,255,255,.1);
}

.icon{
    font-size: 25px;
}

.menuBox{
    display: flex;
    flex-direction: column;
    width: 50vw;
    background-color: #ebebeb;
    height: 100%;
}
.menuBox > *{
    margin-bottom: 5px;
    /*position: ;*/
    /*background: linear-gradient(0deg, #770f0f, #530b51, #770f0f);*/
}

.menuLogoBox{
    display: flex;
    justify-content: center;
    height: 50px;
    width: 100%;

    background: linear-gradient(0deg, #770f0f, #530b51, #770f0f);
    background-size: 600% 600%;

    -webkit-animation: AnimationName 15s ease infinite;
    -moz-animation: AnimationName 15s ease infinite;
    -o-animation: AnimationName 15s ease infinite;
    animation: AnimationName 15s ease infinite;
}

.menuLogoBox>img{
    height: 50px;
    /*width: 100%;*/
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 40%}
    50%{background-position:100% 61%}
    100%{background-position:0% 40%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 40%}
    50%{background-position:100% 61%}
    100%{background-position:0% 40%}
}
@-o-keyframes AnimationName {
    0%{background-position:0% 40%}
    50%{background-position:100% 61%}
    100%{background-position:0% 40%}
}
@keyframes AnimationName {
    0%{background-position:0% 40%}
    50%{background-position:100% 61%}
    100%{background-position:0% 40%}
}

.menuBtnCls {
    /*position: relative;*/
    height: 50px;
    padding-right: 10px;
    padding-left: 10px;
    /*border-radius: 3px;*/
    border: none;
    border-bottom: 2px solid rgb(107, 13, 104);
    /*background-color: rgba(255,255,255,0);*/
    white-space: nowrap;

    font-weight: 700;
    color: white;
    cursor: pointer;
    /*-webkit-transition: .2s ease-in-out;*/
    /*-o-transition: .2s ease-in-out;*/
    /*transition: all .2s ease-in-out;*/
    outline: none;

}

.menuBtnCls > *{
    font-size: 36px;
}

@media (max-width: 1025px) {

    .menu{
        display: inline-block;
    }
}
@media (max-width: 800px) {
    .menuBox{
        width: 60vw;
    }
}
@media (max-width: 650px) {
    .menuBox{
        width: 70vw;
    }
}
@media (max-width: 450px) {
    .menuBox{
        width: 80vw;
    }
}