html,
body {
  height: 100%;
  font-size: 150%;
  font: inherit;
  font: 88.5%/1.4 BlinkMacSystemFont, -apple-system, Arial, "Segoe UI", Roboto,
    Helvetica, sans-serif;
  /*font-weight: 400;*/
  /*line-height: 1.43;*/

  /*letter-spacing: 0.01071em;*/
}

body {
  background-color: #f8f8f8 !important;
  display: block !important;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
  color: #000;
}
.container {
  max-width: 1200px;
  min-width: 600px;
}
.app {
  display: flex;
  flex-direction: column;
}
.mainWrapper {
  min-height: calc(100vh - 92px) !important;
  flex: 1 0 auto;
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 48px 0 0 0;
  max-width: 1980px;
  /*max-width: 30%;*/
  /*margin-top: 80px;*/
  margin: 0 auto 25px auto;
}

.btnType1 {
  color: rgba(0, 0, 0, 0.8);
  padding: 10px;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.8);
  transition: all 0.2s;
}

.btnType1:hover {
  color: #000000;
  border: 1px solid #000000;
  transition: all 0.2s;
}

.btnType2 {
  background-color: #222;
  border: 2px solid #090909;
  color: white;
  margin: 20px 0;
  padding: 10px;
  cursor: pointer;
}

.btnType2:hover {
  background-color: #696969;
  transition: all 0.5s;
}
.invisibleH1 {
  height: 0;
  visibility: hidden;
}

/*@media screen and (min-width: 960px) {*/
/*html {*/
/*margin-left: calc(100vw - 101.8%);*/
/*margin-right: 0;*/
/*}*/
/*}*/

.suspense {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: black;
  width: 100%;
  height: 100%;
  position: relative;
}
.loader {
  top: 50%;
  left: 50%;
}

.craulerContent {
  display: none;
}

@media (min-width: 1025px) {
  .main {
    padding: 0 25px;
  }
}

@media (min-width: 1025px) {
  .main {
    margin-top: 0;
  }
}
